{
    "sourceMaps": true,
    "jsc": {
        "parser": {
          "syntax": "typescript",
          "tsx": false,
          "decorators": false,
          "dynamicImport": true
        },
        "target": "es5",
        "loose": true
    },
    "module": {
        "type": "commonjs",
        "strict": true,
        "strictMode": true,
        "lazy": false,
        "noInterop": false
    }
}
